$orange:orange;
$aqua:aqua;
$jump:#242D49;
$winter:white;
$rgba: rgba(0,0,0,0);

// even numbers
$size_0:  0px;
$size_10:  10px;
$size_20:  20px;
$size_30:  30px;
$size_40:  40px;
$size_50:  50px;
$size_60:  60px;
$size_70:  70px;
$size_80:  80px;
$size_90:  90px;
$size_100: 100px;

// odd numbers
$size_5: 5px;
$size_15: 15px;
$size_25: 25px;
$size_35: 35px;
$size_45: 45px;
$size_55: 55px;
$size_65: 65px;
$size_75: 75px;
$size_85: 85px;
$size_95: 95px;

// even numbers %
$wit_10: 10%;
$wit_20: 20%;
$wit_30: 30%;
$wit_40: 40%;
$wit_50: 50%;
$wit_60: 60%;
$wit_70: 70%;
$wit_80: 80%;
$wit_90: 90%;
$wit_100: 100%;

// odd numbers %
$wit_5:  5%;
$wit_15: 15%;
$wit_25: 25%;
$wit_35: 35%;
$wit_45: 45%;
$wit_55: 55%;
$wit_65: 65%;
$wit_75: 75%;
$wit_85: 85%;
$wit_95: 95%;














